<p>Hey Admin!</p>
<p>
      <b>Message has been added to database by a donor</b>
      <strong><quote><i><% @message.message(contact) %></i></quote></strong>
</p>

Regards,<br />
DonateOneDollar.com