<div class="top-box">
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1><%= @campaigns.title %></h1>
  </div>
</div>
<div class="booyah-box">
  <div class="pict">
<%= image_tag @campaigns.picture.url %>
</div>
</div>
